{% ckan_extends %}

{% block resource %}
  <section class="module module-resource">
    <div class="module-content">
      <div class="actions">
        <ul>
          <li>{% link_for _('View dataset'), controller='package', action='read', id=pkg.name, class_='btn', icon='eye-open' %}</li>
          {% if h.check_access('package_update', {'id':pkg.id }) %}
            <li>{% link_for _('Edit'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
          {% endif %}
          {% if res.url %}
            <li>
              <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
                {% if res.resource_type in ('listing', 'service') %}
                  <i class="icon-eye-open"></i> {{ _('View') }}
                {% elif  res.resource_type == 'api' %}
                  <i class="icon-key"></i> {{ _('API Endpoint') }}
                {% else %}
                  <i class="icon-download"></i> {{ _('Download') }}
                {%endif %}
              </a>
            </li>
          {% endif %}
          {% if 'rdf_mapping' in res %}
            <li>
              <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.rdf_mapping }}">
                <i class="icon-external-link"></i> {{ _('RDF') }}
              </a>
            </li>
          {% endif %}
          {% if 'datastore' in g.plugins %}
            <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
          {% endif %}
        </ul>
      </div>
      {% block resource_content %}
        {% block resource_read_title %}<h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>{% endblock %}
        {% block resource_read_url %}
          {% if res.url %}
            <p class="muted">{{ _('URL:') }} <a href="{{ res.url }}">{{ res.url }}</a></p>
          {% endif %}
        {% endblock %}
        <div class="prose notes" property="rdfs:label">
          {% if res.description %}
            {{ h.render_markdown(res.description) }}
          {% else %}
            <p class="empty">{{ _('There is no description for this resource') }}</p>
          {% endif %}
          {% if not res.description and c.package.notes %}
            <h3>{{ _('From the dataset abstract') }}</h3>
            <blockquote>{{ h.markdown_extract(c.package.get('notes')) }}</blockquote>
            <p>{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
          {% endif %}
        {% endblock %}
      </div>
    </div>
    {% block data_preview %}
      {{ h.resource_preview(c.resource, c.package) }}
    {% endblock %}
  </section>
{% endblock %}
