{% ckan_extends %}
{% block actions_content %}
    <li>{% link_for _('View dataset'), controller='package', action='read', id=pkg.name, class_='btn', icon='eye-open' %}</li>

  {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li>{% link_for _('Edit Resource'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
  {% endif %}

  {% if res.url %}
    <li>
      <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
        {% if res.resource_type in ('listing', 'service') %}
          <i class="icon-eye-open"></i> {{ _('View') }}
        {% elif  res.resource_type == 'api' %}
          <i class="icon-key"></i> {{ _('API Endpoint') }}
        {% else %}
          <i class="icon-download"></i> {{ _('Download') }}
        {%endif %}
      </a>
    </li>
  {% endif %}

  {% if 'rdf_mapping' in res %}
    <li>
      <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.rdf_mapping }}">
        <i class="icon-external-link"></i> {{ _('RDF') }}
      </a>
    </li>
  {% endif %}

  {% if 'datastore' in g.plugins %}
    <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
  {% endif %}
{% endblock %}
