{% ckan_extends %}

{% block primary_content %}
<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span6">
        {% snippet "home/snippets/search_facet.html", q=c.q %}
      </div>
      <div class="span6">
        {% snippet "home/snippets/map.html", startColor='#5372AA', endColor='#324D80', numGroups=c.num_groups, isHomepage=true %}
        <a id="view-map" href="/map">{{ _('View larger map') }} <i class="icon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">
        <div class="showcase">
          <h1><a href="http://opendatachallenge.org/" target="_blank">Open Data Showcase</a></h1>
          <div class="featured-apps">
            <h2>{{ _('Featured Applications') }}</h2>
            {% snippet "related/snippets/related_list.html", is_homepage=true, related_items=c.feautured_related_apps %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="row row3">
      <div class="featured-ideas span8 col1">
        <h2>{{ _('Featured Ideas') }}</h2>
        <ul class="media-list">
          {% for related in c.feautured_related_ideas %}
            {% snippet "related/snippets/related_item.html", pkg_id=pkg_id, related=related, position=loop.index %}
          {% endfor %}
        </ul>
      </div>
      <div class="span4 col2">
        <h2>{{ _('PublicData.eu on Twitter') }}</h2>
        {% snippet "home/snippets/twitter.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
