{% ckan_extends %}

{% block header_logo %}
  {{ super() }}
  <span class="label label-important pdeu-beta">Beta</span>
{% endblock %}

{% block header_site_navigation %}
  <nav class="section navigation">
    <ul class="nav nav-pills">
      {{ h.build_nav_main(
        ('search', _('Datasets')),
        ('group_index', _('Groups')),
        ('about', _('About')),
        ('related_dashboard', _('Apps & Ideas')),
        ('harvest_search', _('Data Portals')),
      ) }}
    </ul>
  </nav>
{% endblock %}
