{% ckan_extends %}

{% block header_logo %}
  {{ super() }}
  <span class="label label-important pdeu-beta">Beta</span>
{% endblock %}

{% block header_site_navigation %}
  <nav class="section navigation">
    <ul class="unstyled">
      {{ h.build_nav_main(
        ('add dataset', _('Add Dataset'), 'package_create'),
        ('search', _('Datasets')),
        ('group_index', _('Groups')),
        ('about', _('About')),
        ('related_dashboard', _('Apps & Ideas'))
      ) }}
    </ul>
  </nav>
{% endblock %}