.about {
  .span8 {
    border-right: 1px dotted #DDD;
    padding-right: 20px
  }
  .span3 {
    width: 229px;
  }
  .page-header {
    height: 50px;
    .nav-pills {
      li {
        margin: 0 5px;
        a {
          background-color: #FFF;
          border: 1px solid #CCC;
          i {
            margin-right: 4px;
          }
          &:hover {
            background-color: #333;
            color: #FFF;
            border-color: #000;
          }
        }
      }
    }
  }
}
