.masthead {
	background: @pdeuColorPrimary url(@pdeuTextureImage);
	.site-search input {
		border-color: darken(@pdeuColorPrimary, 30);
	}
	.dropdown-menu li a {
		color: @pdeuColorPrimary;
		&:hover {
			background-color: @pdeuColorPrimary;
		}
	}
}

body,
.site-footer {
	background: darken(@pdeuColorPrimary, 10) url(@pdeuTextureImage);
}
