.main,
[role="main"] {
  background-image: url('/images/texture.png');
}
.main::after,
[role="main"]::after,
.main::before,
[role="main"]::before {
  display: none;
}
a {
  color: #2e4f8e;
}
.btn-primary {
  background: #2e4f8e !important;
}
.btn-primary:hover {
  background: #223a67 !important;
}
header.account-masthead {
  background: #1b2f54 url('/images/texture.png');
}
header.account-masthead .account ul li {
  border-left-color: #0f192e;
}
header.account-masthead .account ul li a:hover {
  background: #0f192e url('/images/texture.png');
}
header.masthead {
  background: #2e4f8e url('/images/texture.png');
}
header.masthead .site-search input {
  border-color: #090f1a;
}
header.masthead a.logo img {
  margin-top: 4px;
  height: 47px;
}
header.masthead .navigation .nav li a:hover,
header.masthead .navigation .nav li.active a {
  background: #1b2f54 url('/images/texture.png');
}
body,
.site-footer {
  background: #223a67 url('/images/texture.png');
}
.signup {
  background: #9fa7ad url('/images/texture.png');
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
  border-width: 0;
}
.signup h2 {
  font-size: 16px;
}
.subscribe {
  float: right;
  margin-bottom: 0;
}
.subscribe input {
  padding: 9px 12px;
  width: 280px;
  border-color: #676F75;
}
.ckan-icon-json,
.ckan-icon-rdfxml {
  background-position: 0 0;
  vertical-align: -1px;
  margin-right: 2px;
}
.ckan-icon-json {
  background-image: url(/images/json.png);
}
.ckan-icon-rdfxml {
  background-image: url(/images/rdf.png);
}
#map {
  width: 940px;
  height: 500px;
}
#map.homepage {
  float: left;
  width: 500px;
  height: 300px;
  margin-bottom: 20px;
  background-color: transparent;
}
.leaflet-popup-content {
  padding: 0.2em;
}
.leaflet-popup-content .name {
  font-weight: bold;
}
.leaflet-popup-content .local_name {
  font-style: italic;
  border-bottom: 1px solid #E3E3E3;
}
.leaflet-popup-content .datasets {
  margin-top: 0.5em;
}
#view-map {
  position: absolute;
  right: 20px;
  bottom: 0;
  color: #FFF;
  font-weight: bold;
}
.wrapper.map {
  background-image: none;
}
.map-wrapper {
  padding: 20px;
}
.map-wrapper h1 {
  color: #000;
}
.map-wrapper #map {
  background: #bbbbbb url('/images/texture.png');
  margin: 20px -20px;
}
.map-wrapper .well {
  background: #dddddd url('/images/texture.png');
  border-width: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.hero {
  padding: 20px 0;
  background: #223a67 url('/images/texture.png');
}
.hero .module-dark {
  background: #2e4f8e url('/images/texture.png');
}
.hero .module-dark .module-content {
  background: transparent;
}
.hero .search-giant input {
  border-color: #152441;
}
.hero-primary {
  width: 100%;
}
.search-box {
  float: left;
  width: 400px;
  margin: 0 20px 0 0;
}
.search-box .facets {
  margin: 20px 25px;
}
.search-box .facets li {
  float: left;
  margin: 0 5px 5px 0;
}
.search-box .facets li a {
  display: block;
  padding: 2px 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #eeeeee url('/images/texture.png');
  -webkit-box-shadow: 0 1px 2px #152441;
  -moz-box-shadow: 0 1px 2px #152441;
  box-shadow: 0 1px 2px #152441;
}
.search-box .facets li a:hover {
  background-color: white;
  text-decoration: none !important;
}
.showcase h1 {
  font-size: 26px;
  margin: 10px 0;
  text-shadow: 0 1px 0 #FFF;
}
.featured-apps h2,
.featured-ideas h2 {
  font-size: 21px;
  margin: 10px 0;
  text-shadow: 0 1px 0 #FFF;
}
.featured-apps h3,
.featured-ideas h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
}
.featured-apps .btn,
.featured-ideas .btn,
.featured-apps .banner,
.featured-ideas .banner {
  display: none;
}
.featured-apps .media-item,
.featured-ideas .media-item {
  margin: 0 0 20px 20px;
  width: 300px;
  background: #ffffff url('/images/texture.png');
  padding: 10px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px 2px;
  border-radius: 2px 2px;
  -webkit-box-shadow: 0 2px 4px #bbbbbb;
  -moz-box-shadow: 0 2px 4px #bbbbbb;
  box-shadow: 0 2px 4px #bbbbbb;
}
.featured-apps .media-image,
.featured-ideas .media-image {
  margin-bottom: 10px;
}
.featured-apps .media-item {
  min-height: 240px;
}
.featured-ideas {
  margin-bottom: 20px;
}
.featured-ideas .media-image {
  display: none;
}
.about {
  margin-top: 0;
}
.about .page-header {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.about h2 {
  margin-bottom: 5px;
}
.about h3 {
  margin-bottom: 10px;
}
.about .tab-content {
  display: block;
}
.about .span8 {
  border-right: 1px dotted #DDD;
  padding-right: 20px;
}
.about .span3 {
  border-left: 1px dotted #DDD;
  padding-left: 20px;
  width: 228px;
  margin-left: -1px;
}
.about .span3 .mid-paragraph {
  margin: 15px 0;
}
.about .span3 .mid-paragraph a {
  margin-right: 15px;
}
.pdeu-beta {
  position: absolute;
  bottom: 3px;
  left: 169px;
  text-indent: 0;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 1px #223a67;
  -moz-box-shadow: 0 0 1px #223a67;
  box-shadow: 0 0 1px #223a67;
}
.attribution p {
  float: left;
}
.attribution p.lod2-attribution {
  margin-left: 10px;
  margin-bottom: 20px;
}
.ie9 .masthead,
.ie8 .masthead,
.ie7 .masthead,
.ie9 .site-footer,
.ie8 .site-footer,
.ie7 .site-footer {
  filter: none;
}
.ie9 .masthead nav ul li a.active,
.ie8 .masthead nav ul li a.active,
.ie7 .masthead nav ul li a.active {
  background-color: #223a67;
  border-bottom-color: #345aa1;
}
.ie8 .main:after,
.ie7 .main:after,
.ie8 [role="main"]:after,
.ie7 [role="main"]:after,
.ie8 .main:before,
.ie7 .main:before,
.ie8 [role="main"]:before,
.ie7 [role="main"]:before {
  display: none;
}
