@import 'variables.less';
@import 'mixins.less';
@import 'base.less';
@import 'masthead.less';
@import 'signup.less';
@import 'icons.less';
@import 'map.less';
@import 'homepage.less';

.pdeu-beta {
	position: absolute;
	top: 5px;
	left: 140px;
	text-indent: 0;
	text-transform: uppercase;
	.box-shadow(0 1px 1px darken(@pdeuColorPrimary, 10));
}

.attribution p {
	float: left;
	&.lod2-attribution {
		margin-left: 10px;
		margin-bottom: 20px;
	}
}
