#map{
    width: 420px;
    height: 300px;
    /*background-color: #fff;*/
}

.popup {
   padding: 0.2em;
}

.popup .name {
    font-weight: bold;
}

.popup .local_name {
    font-style: italic;
    border-bottom: 1px solid #E3E3E3;
}

.popup .packages {
    margin-top: 0em;
}


.olPopupCloseBox  {
        background: url("/js/libs/openlayers/img/close.png") no-repeat scroll 0 0 transparent !important;
}

