#map{
    background-color: #E9F4FF;
}

.popup {
   padding: 1em
}

.popup .name{
    font-weight: bold;
}

.popup .local_name{
    font-style: italic;
    border-bottom: 1px solid #E3E3E3;
}

.popup .packages{
    margin-top: 1em;
}


.olPopupCloseBox  {
        background: url("/js/libs/openlayers/img/close.png") no-repeat scroll 0 0 transparent !important;
}

