.signup h2 {
    font-size: 1.2em;
}
.subscribe {
    float: right;
    margin-bottom: 0;
}
.subscribe input[type='text'] {
    border: 1px solid #ccc;
    padding: 4px;
    margin: 0.5em 10px 0.5em 0;
    width: 300px;
}
