h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', Georgia; 
}

a, a:visited {
  color: #2962b3;
  text-decoration: none;
}

a:hover {
  color: #183661;
}

/* CKAN Overrides */

body.about #content {
    border-right: 1px solid #E0E0E0;
}

ul.widget-list li.widget-container.boxed {
  background-color: #E5ECF9 !important;
}


.page_heading{
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.header .search {
    font-size: 1.1em !important;
    padding: 0.4em !important;
}

/* Homepage */

.beta{
    color: red
}

body.MapController #menusearch {
    display: none;
}

.banner {
margin-top: 2em;
background-color: #225092;
background-image: -webkit-gradient(linear, left top, left bottom, from(#225092), to(#183661)); 
background-image: -webkit-linear-gradient(top, #225092, #183661); 
background-image:    -moz-linear-gradient(top, #225092, #183661); 
background-image:     -ms-linear-gradient(top, #225092, #183661); 
background-image:      -o-linear-gradient(top, #225092, #183661); 
background-image:         linear-gradient(top, #225092, #183661);
fromilter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#225092', EndColorStr='#183661'); 
     -moz-box-shadow: 2px 5px 15px #cccccc; 
-webkit-box-shadow: 2px 5px 15px #cccccc; 
  box-shadow: 2px 5px 15px #cccccc; 

}

.banner *, .banner ul li {
color: #fff;
}

.banner a {
color: #fff;
font-weight: bold;
}

.banner h1 {
padding-left: 1em;
padding-top: 1em;
}

.banner #map {
float: right;
margin-top: 0.2em;
margin-right: -60px;
min-height: 300px;
}

.banner input {
font-family: 'Ubuntu';
margin-top: 0.5em;
border-radius: 10px;
border: 0px;
font-size: 1.3em;
min-width: 400px;
color: #666;
padding: 0.5em;
}

.banner ul {
list-style-type: none; 
padding: 0;
}

.below {
margin-top: 3em;
}



.facet-options {
    margin-top: 0.5em;
}

.facet-options li {
    padding-top: 0.2em;
    color: #000; 
}

.signup {
    color: white; 
    border-bottom: 0;
    background-color: #E5ECF9;
    padding: 15px;
    padding-top: 10px;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius: 15px;
    padding-bottom: 10px;
}

.signup h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
}

.subscribe {
    float: right;
    margin-top: -6px;
    margin-bottom: -10px;
}

.subscribe input[type='text'] {
    border: 1px solid #ccc;
    padding: 4px;
    margin: 0.5em 10px 0.5em 0;
    width: 150px;
}


/* Search */

body.search .boxed{
    display:none;
}


.filter-list{
    background-color: transparent;
}

.filter-entry{
    display: inline-block;
    background-color: #E5ECF9;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 2px 2px 4px 3px;
    font-size: 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 16px;
}

