.main,
[role="main"] {
  background-image: url('/images/texture.png');
}
.main::after,
[role="main"]::after,
.main::before,
[role="main"]::before {
  display: none;
}
.btn-primary {
  background: #2e4f8e !important;
}
.btn-primary:hover {
  background: #223a67 !important;
}
.masthead {
  background: #2e4f8e url('/images/texture.png');
}
.masthead .site-search input {
  border-color: #090f1a;
}
body,
.site-footer {
  background: #223a67 url('/images/texture.png');
}
.signup {
  background: #9fa7ad url('/images/texture.png');
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
  border-width: 0;
}
.signup h2 {
  font-size: 16px;
}
.subscribe {
  float: right;
  margin-bottom: 0;
}
.subscribe input {
  padding: 9px 12px;
  width: 280px;
  border-color: #676F75;
}
.ckan-icon-json,
.ckan-icon-rdfxml {
  background-position: 0 0;
  vertical-align: -1px;
  margin-right: 2px;
}
.ckan-icon-json {
  background-image: url(../images/json.png);
}
.ckan-icon-rdfxml {
  background-image: url(../images/rdf.png);
}
.hero {
  background: #223a67 url('/images/texture.png');
}
.hero .module-dark {
  background: #2e4f8e url('/images/texture.png');
}
.hero .module-dark .module-content {
  background: transparent;
}
.hero .search-giant input {
  border-color: #152441;
}
.pdeu-beta {
  position: absolute;
  top: 5px;
  left: 140px;
  text-indent: 0;
  text-transform: uppercase;
  box-shadow: 0 1px 1px #223a67;
}
