{% ckan_extends %}

{% block resource_item_explore_links %}
  {{ super() }}
  {% if 'rdf_mapping' in res %}
    <li>
      <a href="{{ res.rdf_mapping }}" class="resource-url-analytics" target="_blank">
        <i class="icon-external-link"></i>
        {{ _('RDF Mapping') }}
      </a>
    </li>
  {% endif %}
  {% if 'rdf_data' in res %}
    <li>
      <a href="{{ res.rdf_data }}" class="resource-url-analytics" target="_blank">
        <i class="icon-external-link"></i>
        {{ _('RDF Data') }}
      </a>
    </li>
  {% endif %}
{% endblock %}
